<ion-view title="" id="page7" ng-controller="sellerChoiceCtrl" hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <div class="row row-center">
            <div class="col">
                <div id="home-page"></div> 
                <button class="button button-block button-positive button-login button-large" ui-sref="sellerCars()">Lista macchine</button>
                <button class="button button-block button-positive button-login button-large" ui-sref="addCar()">Aggiungi macchina</button>
                <button class="button button-block button-dark button-small" ng-click="logout()">Logout</button>
            </div>
        </div>
    </ion-content>
</ion-view>