<ion-view title="SellerCars" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list id="events-list2">
            <ion-item ng-repeat="car in cars track by $index" align="">
                <div class= "row">
                    <div class = "col">
                        <b>Marca: </b><p> 
                        <b>Modello: </b><p> 
                        <b>Tipo: </b><p>
                        <b>Carburazione: </b><p>
                        <b>Prezzo: </b><p>
                        <b>Concessionaria: </b><p>
                    </div>
                    <div class = "col">
                    </div>
                    <div class = "col" align="center">
                        {{car.marca}} <p> 
                        {{car.modello}} <p> 
                        {{car.tipo}} <p>
                        {{car.carburazione}} <p>
                        {{car.prezzo}}€ <p>
                        {{car.concessionaria}} <p>
                    </div>
                </div>
                <button class="button button-block button-positive button-login button-small" ng-click="remove(cars, $index)">Elimina</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>